```plaintext
# Môi trường ảo Python
venv/
*.venv/

# Tệp cấu hình nhạy cảm
.env

# Tệp biên dịch Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Cơ sở dữ liệu SQLite
*.db

# Tệp di cư cơ sở dữ liệu (tùy chọn, nếu không muốn lưu migrations lên Git)
migrations/

# Tệp tạm thời của IDE
.idea/
.vscode/

# Tệp log và tạm thời
*.log
*.tmp
*.swp

# Tệp biên dịch bản dịch (messages.mo được tạo từ messages.po)
app/translations/*/LC_MESSAGES/messages.mo

# Tệp mẫu bản dịch tạm thời
messages.pot